body::after {
  content: "";
  position: absolute;
  left: -9999px;
  background-image: url("/src/troll/hexhex.png");
}

.hexhex {
  z-index: 1000;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 0%;
  translate: -50% -50%;
  offset-path: path(
    "M 22 54 L 108 104 L 132 98 L 156 92 L 180 82 L 204 70 L 220 60 L 256 46 L 276 44 L 312 38 L 352 36 L 380 36 L 412 36 L 444 38 L 476 40 L 508 42 L 544 44 L 584 48 L 624 50 L 660 52 L 696 54 L 732 54 L 764 56 L 792 56 L 816 54 L 844 54 L 872 52 L 896 50 L 924 48 L 956 46 L 984 44 L 1012 42 L 1040 44 L 1064 46 L 1096 56 L 1112 70 L 1124 86 L 1132 96 L 1128 114 L 1120 128 L 1100 138 L 1064 142 L 1036 144 L 1008 144 L 976 142 L 944 142 L 908 140 L 868 138 L 828 136 L 792 134 L 752 132 L 712 130 L 676 128 L 636 126 L 600 124 L 564 122 L 532 122 L 504 122 L 476 122 L 444 122 L 412 122 L 388 122 L 360 124 L 332 126 L 308 128 L 284 134 L 256 142 L 228 148 L 208 156 L 180 174 L 172 188 L 180 202 L 208 218 L 244 226 L 264 228 L 288 228 L 324 224 L 356 218 L 376 214 L 400 210 L 428 206 L 460 202 L 492 200 L 520 198 L 544 196 L 572 194 L 600 194 L 628 192 L 656 192 L 680 192 L 712 190 L 740 190 L 776 190 L 812 190 L 844 192 L 872 192 L 904 194 L 936 196 L 964 198 L 992 202 L 1012 206 L 1040 212 L 1064 218 L 1092 228 L 1124 240 L 1152 252 L 1168 266 L 1180 278 L 1180 292 L 1172 302 L 1160 314 L 1140 322 L 1116 322 L 1088 324 L 1068 324 L 1044 324 L 1020 322 L 996 320 L 976 316 L 948 312 L 924 308 L 900 304 L 876 300 L 852 296 L 820 290 L 792 286 L 768 284 L 740 280 L 716 278 L 692 276 L 672 274 L 648 272 L 628 272 L 608 274 L 588 276 L 564 278 L 528 288 L 508 290 L 472 294 L 452 296 L 428 298 L 404 300 L 384 300 L 360 300 L 336 300 L 316 298 L 280 294 L 240 290 L 220 288 L 200 286 L 180 284 L 160 282 L 136 280 L 108 276 L 84 274 L 48 268 L 28 264 L 8 262"
  );
  offset-rotate: auto;
  animation: move 10s linear forwards;
  transform: scale(0.5);
  filter: drop-shadow(-10px 0px 15px rgba(0, 80, 0, 0.8));
}

@keyframes move {
  0% {
    offset-distance: 0%;
    transform: scale(0.5);
  }
  50% {
    offset-distance: 27%;
    transform: scale(0.5);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    offset-distance: 100%;
    transform: scale(0.1);
  }
}
