# The port the server should listen on.
# PORT = 3333

# CORS origins configuration for the server.
# Aka. "Which external service/app do we expect connections from?"
# It's expected as a whitespace-separated list of allowed origins.
# Usually this should be the domain and port the allowed app is hosted at.
# CORS_APP_URLS = "
#     http://localhost:3000
#     http://127.0.0.1:3000
#     https://domain.example.com
# "

CORS_APP_URLS = "
    http://localhost:5173
    http://127.0.0.1:5173
"

# Controls output of the `debug` module (https://github.com/debug-js/debug).
# See also https://socket.io/docs/v4/logging-and-debugging/#error-logs-in-the-browser-console
# DEBUG=<undefined>
DEBUG=server:*
