/** Global styles */

/* --- Variables --- */
:root {
  --bs-yellow-100: #fff3cd;
  --bs-red-200: #f1aeb5;
  --bs-red-300: #ea868f;
}

/* --- Utilities --- */

.xsmall {
  font-size: 0.75rem;
}

/* --- Tags --- */

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0;
  background-image: url("/bg_logo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  background: none;
}
