.score-table {
  /* Sticky first column */
  > tr > :first-child,
  > thead > tr > :first-child,
  > tbody > tr > :first-child,
  > tfoot > tr > :first-child {
    position: sticky;
    left: 0px;
  }

  /* Header and footer shadows */
  > thead {
    filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.25));
  }
  > tfoot {
    filter: drop-shadow(0 -0.3rem 0.4rem rgba(0, 0, 0, 0.25));
  }

  > tbody tr:not(:first-child) {
    border-top-width: 2px;
    border-color: var(--bs-body-bg);
  }

  > tbody tr:first-child > :last-child {
    border-bottom-width: 0;
    background-color: transparent;
  }

  > tfoot td {
    background-clip: padding-box;
  }
}

/* --- Custom Utilities --- */

/** Adjusted copy-pasta of ".table-hover" to highlight individual cells */
.cell-hover:hover {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.xsmall {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

/* --- Bootstrap Extensions ---*/

.table-responsive {
  max-height: 100vh;
}

.table-error {
  --bs-table-bg: #f9919b;
}
