.score-table {
  /* Sticky first column */
  > tr > :first-child,
  > thead > tr > :first-child,
  > tbody > tr > :first-child,
  > tfoot > tr > :first-child {
    position: sticky;
    left: 0px;
  }

  /* Header and footer shadows */
  > thead {
    filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.15));
  }
  > tfoot {
    filter: drop-shadow(0 -0.3rem 0.6rem rgba(0, 0, 0, 0.15));
  }
}

/* --- Custom Utilities --- */

/** Adjusted copy-pasta of ".table-hover" to highlight individual cells */
.cell-hover:hover {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.xsmall {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

/* --- Bootstrap Extensions ---*/

.table-responsive {
  max-height: 100vh;
}

.table-error {
  --bs-table-bg: #f9919b;
}
