th:first-child,
td:first-child {
  position: sticky;
  left: 0px;
}

/** Adjusted copy-pasta of ".table-hover" to highlight individual cells */
.cell-hover:hover {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.score-table > thead {
  filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.15));
}
.score-table > tfoot {
  filter: drop-shadow(0 -0.3rem 0.6rem rgba(0, 0, 0, 0.15));
}

/* --- Custom Utilities --- */

.xsmall {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

/* --- Bootstrap Extensions ---*/

.table-responsive {
  max-height: 100vh;
}

.table-error {
  --bs-table-bg: #f9919b;
}
