.score-table {
  /* Sticky first column */
  > tr > :first-child,
  > thead > tr > :first-child,
  > tbody > tr > :first-child,
  > tfoot > tr > :first-child {
    position: sticky;
    left: 0px;
  }

  /* Header and footer shadows */
  > thead {
    filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.25));
  }
  > tfoot {
    filter: drop-shadow(0 -0.3rem 0.4rem rgba(0, 0, 0, 0.25));
  }

  > tbody tr:not(:first-child) {
    border-top-width: 2px;
    border-color: var(--bs-body-bg);
  }

  > tbody tr:first-child > :last-child {
    border-bottom-width: 0;
    background-color: transparent;
  }

  > tfoot td {
    background-clip: padding-box;
  }
}

.table-responsive:has(.score-table) {
  max-height: 100vh;
}

.table-error {
  --bs-table-bg: var(--bs-red-300);
}

/** Clickable data cells */
.btn-scoreCell {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;

  --bs-btn-color: inherit !important;
  --bs-btn-bg: transparent !important;

  --bs-btn-border-color: transparent !important;
  --bs-btn-border-width: 0 !important;
  --bs-btn-border-radius: 0 !important;

  --bs-btn-hover-bg: var(--bs-yellow-100) !important;
  --bs-btn-active-bg: var(--bs-btn-hover-bg) !important;

  --bs-btn-disabled-opacity: 0.25 !important;

  /* Inside erroneous row/cell */
  .table-error & {
    --bs-btn-hover-bg: var(--bs-red-200) !important;
  }
}

